<div class="row">
    <div class="col-md-4 offset-md-4">
      <h1>Log in</h1>
      <form (ngSubmit)="authenticate()" #userForm="ngForm">

        <div class="form-group">
          <label for="login">Login</label>
          <input class="form-control"  type="text" name="login" id="login" required #login="ngModel" [(ngModel)]="credentials.login">
          <div class="alert alert-danger" *ngIf="login.dirty && login.hasError('required')">Login is required</div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input  class="form-control" type="password" name="password" id="password" required #password="ngModel" [(ngModel)]="credentials.password">
          <div class="alert alert-danger" *ngIf="password.dirty && password.hasError('required')">Password is required</div>
        </div>

        <div class="alert alert-danger" *ngIf="authenticationFailed">Nope, try again</div>

        <button [disabled]="userForm.invalid" class="btn btn-primary" type="submit">Log in</button>
      </form>
    </div>
</div>